.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: var(--secondary-color);
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #9336ab;
    transform: translateY(-2px);
    color: #ffffff;
}